# Dev tools
.git
.github
.editorconfig
.gitattributes
.node-version

# Readme
README.md

# Nginx config
nginx

# Certificates
certs


node_modules
.next
dist
.dockerignore
.git
.gitignore
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
