# Dev tools
.git
.github
.editorconfig
.gitattributes
.node-version

# Docker files
.dockerignore*
Dockerfile*
docker-compose*.yml

# yarn
.yarn/cache
.yarn/unplugged
!.yarn/releases/yarn-4.7.0.cjs

# Readme
README.md

# Nginx config
nginx

# Certificates
certs
!certs/prod-ca-2021.crt